<a href="https://colab.research.google.com/github/Jerin2004/Lect-15-CIPHER-SCHOOL-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA Manipulation and Analysis with NumPy

In [1]:
import numpy as np

# craeting a 1D array from a list
arr1 = np.array([1, 2, 3, 4, 5])
print(arr1)

# Crating a 2D array from a list of lists
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
print(arr2)

[1 2 3 4 5]
[[1 2 3]
 [4 5 6]]

**Creating Arrays with Functions**

In [2]:
# Creating an array of zeros
ones = np.zeros((3, 3))
print(ones)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [3]:
# Creating an array of ones
ones=np.ones((3,3))
print(ones)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [4]:
# Creating an array with random values
random_values = np.random.rand(3, 3)
print(random_values)

[[0.13395561 0.3290952  0.5811231 ]
 [0.25801292 0.35069823 0.82074415]
 [0.43426038 0.95699554 0.84194255]]

In [5]:
# Creating an array with range of values
range_values = np.arange(10, 20, 2)
print(range_values)

[10 12 14 16 18]

**Basic Array Operations-Element-wise Operations**

In [6]:
arr = np.array([1, 2, 3, 4, 5])
print(arr + 2)

[3 4 5 6 7]

In [7]:
# Element wise multiplication
print(arr*2)

[ 2  4  6  8 10]

In [8]:
# Element wise subtraction
print(arr-1)

[0 1 2 3 4]

In [9]:
# Element wise division
print(arr/2)

[0.5 1.  1.5 2.  2.5]

**basic Array Operations - Mathematical Functions**

In [10]:
arr = np.array([1,2,3,4,5])
print(np.sqrt(arr))

[1.         1.41421356 1.73205081 2.         2.23606798]

In [11]:
#Exponential
print(np.exp(arr))

[  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]

In [12]:
#Logarithm
print(np.log(arr))

[0.         0.69314718 1.09861229 1.38629436 1.60943791]

Indexing and Slicing -Indexing

In [13]:
arr= np.array([1,2,3,4,5])
print(arr[2])

3

Indexing and Slicing - Slicing

In [15]:
arr = np.array([1,2,3,4,5])
print(arr[1:4])

[2 3 4]

Indexing and Slicing-Advanced Indexing

In [17]:
arr = np.array([1,2,3,4,5])

#Boolean indexing
print(arr[arr>3])

# Fancy indexing
print(arr[[0,2,4]])

[4 5]
[1 3 5]

Reshaping and transposing - Reshaping Array

In [19]:
arr = np.array([[1,2,3],[4,5,6]])

# Reshaping the array
reshaped = arr.reshape(3,2)
print(reshaped)

[[1 2]
 [3 4]
 [5 6]]

Reshaping and Transposing = Transposing Arrays

In [20]:
arr = np.array([[1,2,3],[4,5,6]])

# Transposing the array
transposed = arr.T
print(transposed)

[[1 4]
 [2 5]
 [3 6]]

Aggregation Function-Sum and Mean

In [21]:
arr = np.array([1,2,3,4,5])

# Sum
print(np.sum(arr))

# Mean
print(np.mean(arr))

15
3.0